@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Righteous&display=swap');

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

* {
    box-sizing: border-box !important;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}


body {
    color: #666666;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    text-align: left;
    margin: 0;
}


.spn1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: 4vh;
    color:rgb(255, 255, 255);
}
.spn2{
    font-size: 10vh;
    top: 10px;
    font-family: monospace;
    position: relative;
    left: 2.5vh;
    color: rgb(221, 0, 103);
}


.main-layout {
    background-repeat: no-repeat;
    background: url(../images/body_bg.png);
}

.navbar-nav{
    list-style: none;
    display: flex;    
}

.navigation.navbar {
    padding-top: 12px;
    float: right;
}

.navigation.navbar-dark .navbar-nav .nav-link {
    padding: 0 25px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    
    
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(211, 0, 165);
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
    color: #fdd430;
}


/*-- header area --*/


/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/

.head_top {
    background: url(../images/bg2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    width: 100%;
    background: transparent;
    padding: 30px 30px;
}

.logo a {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    line-height: 40px;
    text-decoration: none;
}

.banner_main {
    padding: 60px 0 190px 0;
}

.text-bg {
    text-align: left;
}

.text-bg h1 {
    color: #02fee5;
    font-size: 75px;
    line-height: 110px;
    font-weight: bold;
}

.text-bg p {
    color: #fff;
    line-height: 28px;
    padding: 40px 0;
}

.text-bg a {
    font-size: 17px;
    background-color: #fff;
    color: #000;
    padding: 13px 0px;
    width: 100%;
    max-width: 190px;
    text-align: center;
    display: inline-block;
    transition: ease-in all 0.5s;
}

.text-bg a:hover {
    background-color: #02fee5;
    color: #000;
    transition: ease-in all 0.5s;
    border-radius: 26px;
}

.text-img {
    text-align: left;
}

.white1 {color: #fff;}

.titlepage {
    text-align: center;
    padding-bottom: 60px;
}

.titlepage h2 {
    font-size: 40px;
    color: #3e3e3e;
    line-height: 57px;
    font-weight: bold;
    padding: 0;
    padding-bottom: 20px;
}

.d_flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 768px){}
.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
@media (min-width: 576px){}
.col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.col,.col-sm-3,.col-md-3,.col-lg-3{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}